* {
    box-sizing: border-box;
    margin: 0;
    font-family: Ramunebear;
    src: url(Ramunebear-Regular.otf);
}
html {
  scrollbar-width: thin;
  scrollbar-color: #549bf4 #549cf43c; 
}
body {
    width: 612px;
    height: 344px;
    background-image: url('images/picnic.jpg');
    background-repeat: repeat;
    background-position: 0 0;
    animation: slide 10s linear infinite;
}
    @keyframes slide {

    from {
        background-position: 0 0;
    }

    to {
        background-position: -400px 0;
    }
    }
/*LABEL*/
.label {
    display: flex;
    justify-content: left;
    align-items: center;
    text-align: center;
}
.label .head{
    position: absolute;
    z-index: 2;
    width: 8vw;
    right: 240px;
    rotate: -15deg;
}
.label .bar{
    position: relative;
    z-index: 0;
    width: 20vw;
}
.label h1 {
    position: absolute;
    z-index: 1;
    left: 50px;
    color: #414148;
    padding-left: 41px;
    font-size: 2.8vw;
}
/**FACTS**/
.facts {
    color: #fbf3a1;
    background-color: #549bf4;
}
.fact {
    
}
/**ABOUT**/
#aboutme {
    justify-content: center;
    align-items: center;
    margin: 100px;
    padding-left: 100px;
}
#aboutme .label {
    position: absolute;
    z-index: 1;
    top: 130px;
}
#aboutme .facts {
    position: absolute;
    z-index: 1;
    bottom: 300px;
}
#aboutme #about {
    position: relative;
    z-index: 0;
}
#about {
    width: 70vw;
}
#about .floating {
    position: relative;
    z-index: 1;
    top: 500px;
}
#about .textbox {
    position: relative;
    z-index: 0;
}
/**TEXT**/
.textbox {
    position: relative;
    z-index: 0;
    border: 20px solid;
    border-image: url('https://i.ibb.co/5gs1tnVw/border.png') 18 round;
    border-image-slice: fill;
    border-radius: 20px;
    background-color: #cd2e4c;
    color: #f9f8f4;
    font-size: 2vw;
    background-clip: padding-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px;
    padding: 50px;
}
.textbox p {
    padding-top: 10px;
}
/**ME**/
#about .me {
    width: 30vw;
    left: 800px;
    top: -150px;
    position: absolute;
    z-index: 1;
    animation: bears 3s ease-in-out infinite;
}
    @keyframes bears {
        0% {
                transform: translateY(0);
        }

        50% {
                transform: translateY(-10px);
        }

        100% {
                transform: translateY(0);
        }
    }
.cloud {
    right: 0;
    position: absolute;
    z-index: 2;
    width: 10vw;
}
.floating .cloud1 {
    animation: float 3s ease-in-out infinite;
}
    @keyframes float {
        0% {
                transform: translateY(0);
        }

        50% {
                transform: translateY(-5px);
        }

        100% {
                transform: translateY(5);
        }
    }
.floating .cloud2 {
    right: 0;
    position: absolute;
    z-index: 2;
    animation: float2 3s ease-in-out infinite;
}
    @keyframes float2 {
        0% {
                transform: translateY(0);
        }

        50% {
                transform: translateY(10px);
        }

        100% {
                transform: translateY(0);
        }
    }
/**FOOTER**/
#footer {
    height: 210px;
    width: 100vw;
    overflow: hidden;
    background-image: url('images/cloudfooter.png');
    background-repeat: repeat;
    background-position: 0 0;
    animation: float 30s linear infinite;
}
    @keyframes float {

    from {
        background-position: 0 0;
    }

    to {
        background-position: 400px 0;
    }
    }
.footerinfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px;
}
.footerlinks .gmail {
    position: relative;
    display: inline-block; 
    animation-name: cloud1;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    background-image: url('images/cloud.png');
    background-size: 7vw;
    background-repeat: no-repeat;
    background-position: center;
    padding: 30px;
}
@keyframes cloud1 {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(10px); 
    }
    100% {
        transform: translateY(0px);
    }
}
.footerlinks .linkedin {
    position: relative;
    display: inline-block;
    animation-name: cloud2;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    background-image: url('images/cloud2.png');
    background-size: 7vw;
    background-repeat: no-repeat;
    background-position: center;
    padding: 30px;
}
@keyframes cloud2 {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-10px); 
    }
    100% {
        transform: translateY(0px);
    }
}
.footerlinks a{
    text-decoration: none;
    color: #414148;
    font-size: 1.5vw;
}
.footerlinks a:hover{
    color: #549bf4;
    transition: color 0.6s;
}
.copyright {
    padding-top: 60px;
    justify-content: center;
    text-align: center;
    color: #414148;
}