* {
    box-sizing: border-box;
    margin: 0;
    font-family: Ramunebear;
    src: url(Ramunebear-Regular.otf);
}
html {
  scrollbar-width: thin;
  scrollbar-color: #549bf4 #549cf43c; 
}
body {
    width: 612px;
    height: 344px;
    background-image: url('images/picnic.jpg');
    background-repeat: repeat;
    background-position: 0 0;
    animation: slide 10s linear infinite;
}
    @keyframes slide {

    from {
        background-position: 0 0;
    }

    to {
        background-position: -400px 0;
    }
    }
/*LABEL*/
.label {
    display: flex;
    justify-content: right;
    align-items: center;
    text-align: center;
}
.label .head{
    position: absolute;
    z-index: 2;
    width: 9vw;
    rotate: -15deg;
}
.label .bar{
    position: relative;
    z-index: 0;
    width: 20vw;
}
.label h1 {
    position: absolute;
    z-index: 1;
    left: 0;
    color: #414148;
    padding-left: 41px;
    font-size: 3.3vw;
}
/**ABOUT**/

/**TEXT**/
.textbox {
    position: relative;
    z-index: 0;
    border: 20px solid;
    border-image: url('https://i.ibb.co/5gs1tnVw/border.png') 18 round;
    border-image-slice: fill;
    border-radius: 20px;
    background-color: #cd2e4c;
    color: #f9f8f4;
    font-size: 2vw;
    background-clip: padding-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 50px;
    padding: 50px;
}
.textbox p {
    padding-top: 10px;
}
/**ME**/
#about .me {
    width: 30vw;
    right: 0;
    position: absolute;
    z-index: 1;
    animation: bears 3s ease-in-out infinite;
}
    @keyframes bears {
        0% {
                transform: translateY(0);
        }

        50% {
                transform: translateY(-10px);
        }

        100% {
                transform: translateY(0);
        }
    }
.cloud {
    right: 0;
    position: absolute;
    z-index: 2;
    width: 10vw;
}
.floating .cloud1 {
    animation: float 3s ease-in-out infinite;
}
    @keyframes float {
        0% {
                transform: translateY(0);
        }

        50% {
                transform: translateY(-5px);
        }

        100% {
                transform: translateY(5);
        }
    }
.floating .cloud2 {
    right: 0;
    position: absolute;
    z-index: 2;
    animation: float2 3s ease-in-out infinite;
}
    @keyframes float2 {
        0% {
                transform: translateY(0);
        }

        50% {
                transform: translateY(10px);
        }

        100% {
                transform: translateY(0);
        }
    }